<%= form_with(model: vocabulary) do |form| %>
  <% if vocabulary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vocabulary.errors.count, "error") %> prohibited this vocabulary from being saved:</h2>

      <ul>
        <% vocabulary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :word, style: "display: block" %>
    <%= form.text_field :word %>
  </div>

  <div>
    <%= form.label :translation, style: "display: block" %>
    <%= form.text_area :translation %>
  </div>

  <div>
    <%= form.label :context, style: "display: block" %>
    <%= form.text_area :context %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
