<div id="<%= dom_id vocabulary %>">
  <p>
    <strong>Word:</strong>
    <%= vocabulary.word %>
  </p>

  <p>
    <strong>Translation:</strong>
    <%= vocabulary.translation %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= vocabulary.context %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vocabulary.user_id %>
  </p>

</div>
